-- MySQL dump 10.13  Distrib 8.0.44, for Win64 (x86_64)
--
-- Host: localhost    Database: cims_db
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (2,'Aesthetician'),(1,'Owner'),(3,'Sales');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=89 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
INSERT INTO `auth_user_groups` VALUES (8,1,2),(6,2,2),(1,3,1),(23,4,2),(7,5,3),(3,6,1),(20,7,3),(10,8,3),(11,9,3);
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_branchproduct`
--

DROP TABLE IF EXISTS `clinic_branchproduct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_branchproduct` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `quantity_minimum` int(11) NOT NULL,
  `stock_quantity` int(11) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clinic_branchproduct_branch_id_product_id_3f64fe26_uniq` (`branch_id`,`product_id`),
  KEY `clinic_branchproduct_product_id_157c5a4a_fk_clinic_pr` (`product_id`),
  CONSTRAINT `clinic_branchproduct_branch_id_aaf48fed_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_branchproduct_product_id_157c5a4a_fk_clinic_pr` FOREIGN KEY (`product_id`) REFERENCES `clinic_product` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=183 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_branchproduct`
--

LOCK TABLES `clinic_branchproduct` WRITE;
/*!40000 ALTER TABLE `clinic_branchproduct` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_branchproduct` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_branchtreatment`
--

DROP TABLE IF EXISTS `clinic_branchtreatment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_branchtreatment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `availability_status` tinyint(1) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `treatment_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clinic_branchtreatment_branch_id_treatment_id_a191e555_uniq` (`branch_id`,`treatment_id`),
  KEY `clinic_branchtreatme_treatment_id_8d17b2dd_fk_clinic_tr` (`treatment_id`),
  CONSTRAINT `clinic_branchtreatme_branch_id_dea3fbfc_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_branchtreatme_treatment_id_8d17b2dd_fk_clinic_tr` FOREIGN KEY (`treatment_id`) REFERENCES `clinic_treatment` (`treatment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_branchtreatment`
--

LOCK TABLES `clinic_branchtreatment` WRITE;
/*!40000 ALTER TABLE `clinic_branchtreatment` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_branchtreatment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_clinicbranch`
--

DROP TABLE IF EXISTS `clinic_clinicbranch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_clinicbranch` (
  `branch_id` int(11) NOT NULL AUTO_INCREMENT,
  `branch_location` varchar(255) NOT NULL,
  `branch_address` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`branch_id`),
  UNIQUE KEY `clinic_clinicbranch_branch_location_f4a2f259_uniq` (`branch_location`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_clinicbranch`
--

LOCK TABLES `clinic_clinicbranch` WRITE;
/*!40000 ALTER TABLE `clinic_clinicbranch` DISABLE KEYS */;
INSERT INTO `clinic_clinicbranch` VALUES (1,'Meycauayan, Bulacan',NULL),(2,'San Juan','Greenhills'),(4,'Quezon City','New York, Cubao');
/*!40000 ALTER TABLE `clinic_clinicbranch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_employeeprofile`
--

DROP TABLE IF EXISTS `clinic_employeeprofile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_employeeprofile` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `all_branches` tinyint(1) NOT NULL,
  `branch_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `clinic_employeeprofi_branch_id_d01f6fe8_fk_clinic_cl` (`branch_id`),
  CONSTRAINT `clinic_employeeprofi_branch_id_d01f6fe8_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_employeeprofile_user_id_9bc9f99d_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_employeeprofile`
--

LOCK TABLES `clinic_employeeprofile` WRITE;
/*!40000 ALTER TABLE `clinic_employeeprofile` DISABLE KEYS */;
INSERT INTO `clinic_employeeprofile` VALUES (1,0,2,1),(2,0,1,3),(3,1,NULL,6),(4,0,2,4),(5,0,1,2),(6,1,NULL,5),(7,0,1,7),(8,0,4,8),(9,0,4,9);
/*!40000 ALTER TABLE `clinic_employeeprofile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_inventoryshipment`
--

DROP TABLE IF EXISTS `clinic_inventoryshipment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_inventoryshipment` (
  `inventory_record_id` int(11) NOT NULL AUTO_INCREMENT,
  `received_product_name` varchar(100) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `date_received` date NOT NULL,
  PRIMARY KEY (`inventory_record_id`),
  KEY `clinic_inventoryship_branch_id_e10248e4_fk_clinic_cl` (`branch_id`),
  KEY `clinic_inventoryship_supplier_id_e5dab4ca_fk_clinic_su` (`supplier_id`),
  CONSTRAINT `clinic_inventoryship_branch_id_e10248e4_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_inventoryship_supplier_id_e5dab4ca_fk_clinic_su` FOREIGN KEY (`supplier_id`) REFERENCES `clinic_supplier` (`supplier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_inventoryshipment`
--

LOCK TABLES `clinic_inventoryshipment` WRITE;
/*!40000 ALTER TABLE `clinic_inventoryshipment` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_inventoryshipment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_patient`
--

DROP TABLE IF EXISTS `clinic_patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_patient` (
  `patient_id` int(11) NOT NULL AUTO_INCREMENT,
  `last_name` varchar(50) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `middle_name` varchar(50) NOT NULL,
  `suffix` varchar(10) DEFAULT NULL,
  `patient_address` varchar(300) NOT NULL,
  `patient_contact_number` varchar(11) NOT NULL,
  `birthday` date NOT NULL,
  `sex` varchar(1) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `unique_patient_identity` (`last_name`,`first_name`,`middle_name`,`birthday`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_patient`
--

LOCK TABLES `clinic_patient` WRITE;
/*!40000 ALTER TABLE `clinic_patient` DISABLE KEYS */;
INSERT INTO `clinic_patient` VALUES (1,'Abesamis','Jaron','I.','JUNIOR','yes','0906058609','2025-02-11','M',0),(2,'Ayunga','Enzo','',NULL,'There','09084201347','2004-02-05','M',0);
/*!40000 ALTER TABLE `clinic_patient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_product`
--

DROP TABLE IF EXISTS `clinic_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_product` (
  `product_id` int(11) NOT NULL AUTO_INCREMENT,
  `product_name` varchar(100) NOT NULL,
  `product_type` varchar(30) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `unit_cost` decimal(8,2) NOT NULL,
  `supplier_id` int(11) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  PRIMARY KEY (`product_id`),
  KEY `clinic_product_supplier_id_c95683ba_fk_clinic_su` (`supplier_id`),
  CONSTRAINT `clinic_product_supplier_id_c95683ba_fk_clinic_su` FOREIGN KEY (`supplier_id`) REFERENCES `clinic_supplier` (`supplier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_product`
--

LOCK TABLES `clinic_product` WRITE;
/*!40000 ALTER TABLE `clinic_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_receivedproduct`
--

DROP TABLE IF EXISTS `clinic_receivedproduct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_receivedproduct` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `quantity_received` int(11) NOT NULL,
  `expiration_date` date NOT NULL,
  `branch_id` int(11) NOT NULL,
  `inventory_record_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clinic_receivedproduct_inventory_record_id_prod_5d6e9647_uniq` (`inventory_record_id`,`product_id`),
  KEY `clinic_receivedprodu_branch_id_bea10a7a_fk_clinic_cl` (`branch_id`),
  KEY `clinic_receivedprodu_product_id_99ceac6e_fk_clinic_pr` (`product_id`),
  CONSTRAINT `clinic_receivedprodu_branch_id_bea10a7a_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_receivedprodu_inventory_record_id_e6495ad0_fk_clinic_in` FOREIGN KEY (`inventory_record_id`) REFERENCES `clinic_inventoryshipment` (`inventory_record_id`),
  CONSTRAINT `clinic_receivedprodu_product_id_99ceac6e_fk_clinic_pr` FOREIGN KEY (`product_id`) REFERENCES `clinic_product` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_receivedproduct`
--

LOCK TABLES `clinic_receivedproduct` WRITE;
/*!40000 ALTER TABLE `clinic_receivedproduct` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_receivedproduct` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_salestransaction`
--

DROP TABLE IF EXISTS `clinic_salestransaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_salestransaction` (
  `transaction_id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_date` date NOT NULL,
  `mode_of_payment` varchar(20) NOT NULL,
  `total_price_of_products` decimal(8,2) DEFAULT NULL,
  `total_price_of_treatments` decimal(8,2) DEFAULT NULL,
  `total_amount` decimal(8,2) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `notes` longtext DEFAULT NULL,
  `branch_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`transaction_id`),
  KEY `clinic_salestransact_patient_id_ef8cda5d_fk_clinic_pa` (`patient_id`),
  KEY `clinic_salestransact_branch_id_8434fca6_fk_clinic_cl` (`branch_id`),
  CONSTRAINT `clinic_salestransact_branch_id_8434fca6_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_salestransact_patient_id_ef8cda5d_fk_clinic_pa` FOREIGN KEY (`patient_id`) REFERENCES `clinic_patient` (`patient_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_salestransaction`
--

LOCK TABLES `clinic_salestransaction` WRITE;
/*!40000 ALTER TABLE `clinic_salestransaction` DISABLE KEYS */;
INSERT INTO `clinic_salestransaction` VALUES (1,'2026-02-23','Card',480.00,499.00,979.00,1,NULL,1),(2,'2026-02-23','GCash',0.00,2499.00,2499.00,1,NULL,1),(3,'2026-02-23','GCash',0.00,24500.00,24500.00,1,NULL,1),(4,'2026-02-23','Card',480.00,1499.00,1979.00,1,NULL,1),(5,'2026-02-23','Cash',0.00,2499.00,2499.00,2,NULL,1),(7,'2026-03-22','GCash',75000.00,0.00,75000.00,1,'',1),(8,'2026-03-22','Cash',10000.00,0.00,10000.00,1,'',1),(13,'2026-03-24','Cash',1050.00,0.00,1050.00,1,'none',1),(15,'2026-04-22','GCash',750.00,4499.00,5249.00,2,'',1);
/*!40000 ALTER TABLE `clinic_salestransaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_supplier`
--

DROP TABLE IF EXISTS `clinic_supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_supplier` (
  `supplier_id` int(11) NOT NULL AUTO_INCREMENT,
  `supplier_name` varchar(150) NOT NULL,
  `contact_person` varchar(100) NOT NULL,
  `supplier_contact_number` varchar(11) NOT NULL,
  `supplier_address` varchar(300) DEFAULT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  PRIMARY KEY (`supplier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_supplier`
--

LOCK TABLES `clinic_supplier` WRITE;
/*!40000 ALTER TABLE `clinic_supplier` DISABLE KEYS */;
INSERT INTO `clinic_supplier` VALUES (1,'Mr. Supplier','Mang Tani','09060585960','Over There',0),(2,'Test Supplier for Page','Sir Jal','09060453412','Katipunan Ave.',1),(3,'SkinCare Distributors Inc.','Maria De Mesa','09171234123','Tomas Morato, Quezon City',0),(4,'Supplier Updated','Fiona Metran','09060585960','there pala',0),(5,'For Deleting','delte','09060596070','yup',0);
/*!40000 ALTER TABLE `clinic_supplier` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_transactionitem`
--

DROP TABLE IF EXISTS `clinic_transactionitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_transactionitem` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `quantity_purchased` int(11) NOT NULL,
  `subtotal` decimal(8,2) NOT NULL,
  `product_id` int(11) DEFAULT NULL,
  `transaction_id` int(11) NOT NULL,
  `treatment_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`item_id`),
  KEY `clinic_transactionit_product_id_048d8cd8_fk_clinic_pr` (`product_id`),
  KEY `clinic_transactionit_transaction_id_b85110ce_fk_clinic_sa` (`transaction_id`),
  KEY `clinic_transactionit_treatment_id_bc4be356_fk_clinic_tr` (`treatment_id`),
  CONSTRAINT `clinic_transactionit_product_id_048d8cd8_fk_clinic_pr` FOREIGN KEY (`product_id`) REFERENCES `clinic_product` (`product_id`),
  CONSTRAINT `clinic_transactionit_transaction_id_b85110ce_fk_clinic_sa` FOREIGN KEY (`transaction_id`) REFERENCES `clinic_salestransaction` (`transaction_id`),
  CONSTRAINT `clinic_transactionit_treatment_id_bc4be356_fk_clinic_tr` FOREIGN KEY (`treatment_id`) REFERENCES `clinic_treatment` (`treatment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_transactionitem`
--

LOCK TABLES `clinic_transactionitem` WRITE;
/*!40000 ALTER TABLE `clinic_transactionitem` DISABLE KEYS */;
INSERT INTO `clinic_transactionitem` VALUES (1,1,480.00,23,1,NULL),(2,1,499.00,NULL,1,64),(3,1,2499.00,NULL,2,75),(4,7,24500.00,NULL,3,80),(5,1,480.00,23,4,NULL),(6,1,1499.00,NULL,4,77),(9,1,2499.00,NULL,5,75),(13,500,75000.00,8,7,NULL),(14,40,10000.00,9,8,NULL),(18,7,1050.00,8,13,NULL),(19,5,750.00,8,15,NULL),(20,1,4499.00,NULL,15,28);
/*!40000 ALTER TABLE `clinic_transactionitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_treatment`
--

DROP TABLE IF EXISTS `clinic_treatment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_treatment` (
  `treatment_id` int(11) NOT NULL AUTO_INCREMENT,
  `treatment_name` varchar(100) NOT NULL,
  `treatment_type` varchar(30) NOT NULL,
  `treatment_cost` decimal(8,2) NOT NULL,
  `description` varchar(500) DEFAULT NULL,
  `is_deleted` tinyint(1) NOT NULL,
  PRIMARY KEY (`treatment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_treatment`
--

LOCK TABLES `clinic_treatment` WRITE;
/*!40000 ALTER TABLE `clinic_treatment` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_treatment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_treatmentproduct`
--

DROP TABLE IF EXISTS `clinic_treatmentproduct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_treatmentproduct` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `quantity_used` int(11) NOT NULL,
  `branch_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `treatment_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clinic_treatmentproduct_branch_id_treatment_id_p_41224be2_uniq` (`branch_id`,`treatment_id`,`product_id`),
  KEY `clinic_treatmentprod_product_id_b8b3a019_fk_clinic_pr` (`product_id`),
  KEY `clinic_treatmentprod_treatment_id_afdded54_fk_clinic_tr` (`treatment_id`),
  CONSTRAINT `clinic_treatmentprod_branch_id_4f531c41_fk_clinic_cl` FOREIGN KEY (`branch_id`) REFERENCES `clinic_clinicbranch` (`branch_id`),
  CONSTRAINT `clinic_treatmentprod_product_id_b8b3a019_fk_clinic_pr` FOREIGN KEY (`product_id`) REFERENCES `clinic_product` (`product_id`),
  CONSTRAINT `clinic_treatmentprod_treatment_id_afdded54_fk_clinic_tr` FOREIGN KEY (`treatment_id`) REFERENCES `clinic_treatment` (`treatment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_treatmentproduct`
--

LOCK TABLES `clinic_treatmentproduct` WRITE;
/*!40000 ALTER TABLE `clinic_treatmentproduct` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinic_treatmentproduct` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinic_userlockout`
--

DROP TABLE IF EXISTS `clinic_userlockout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clinic_userlockout` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `failed_attempts` int(11) NOT NULL,
  `lock_until` datetime(6) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `clinic_userlockout_user_id_267edba5_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinic_userlockout`
--

LOCK TABLES `clinic_userlockout` WRITE;
/*!40000 ALTER TABLE `clinic_userlockout` DISABLE KEYS */;
INSERT INTO `clinic_userlockout` VALUES (1,0,NULL,3),(2,0,NULL,5),(3,1,NULL,4);
/*!40000 ALTER TABLE `clinic_userlockout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-24 15:29:09
